
<section class="container content-section text-center button-section">

<div class="row">
      <div class="col-lg-12">

    <div class="col-sm-6 left-row">
        {% for registry in site.data.registries %}
        {% if forloop.index0 | modulo: 2 == 0 %}
        <div class="button">
            <a href="{{ registry.url }}" class="btn btn-primary">{{ registry.name }}</a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="col-sm-6 right-row">
        {% for registry in site.data.registries %}
        {% if forloop.index0 | modulo: 2 != 0 %}
        <div class="button">
            <a href="{{ registry.url }}" class="btn btn-primary">{{ registry.name }}</a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
</div>
</section>
